{
	"extends": "airbnb",
	"rules": {
		"max-len": [
			"error",
			{
				"code": 200
			}
		],
		"react/prefer-es6-class": 0,
		"react/jsx-filename-extension": 0,
		"react/react-in-jsx-scope": 0,
		"react/jsx-curly-spacing": [
			2,
			"always"
		],
		"react/jsx-indent": [
			2,
			4
		]
	}
}